@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Image work */
.img {
    width: 400px;    
    transition: all 500ms;
   
}

.img:hover {
    transform: scale(1.03);

}

.me-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}